*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #faf9f9;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  width: 120rem;
  height: 100vh;
  margin: 1.5rem auto;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.sidebar {
  flex-basis: content;
  background-color: #333;
  background-image: linear-gradient(rgba(51, 51, 51, 0.95), #333333), url("https://images.unsplash.com/photo-1545229920-f669c6872fa9?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: right;
  padding: 4rem 2rem;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.main {
  overflow: scroll;
  flex-basis: 100%;
  background-color: #faf9f9;
  color: #333; }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .info__avatar {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-image: url("../assets/img/avatar.jpeg");
    background-size: cover;
    margin-bottom: 2rem;
    position: relative; }
  .info__title {
    font-size: 2.5rem; }
  .info__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
    color: #ccc; }
  .info__contact {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: center; }

.float-email {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  cursor: pointer; }
  .float-email__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #faf9f9; }
  .float-email:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: #f0eeee; }
  .float-email:hover .float-email__icon {
    fill: #eb2f64; }

.contact-icon {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.3s;
  border-radius: 50%;
  fill: #faf9f9;
  backface-visibility: hidden;
  cursor: pointer; }
  .contact-icon:hover {
    opacity: 1;
    transform: scale(1.15) translateY(-3px);
    fill: #eb2f64; }

.quote {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300; }

.technologies {
  margin: 2rem 0; }
  .technologies__subtitle {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem; }
  .technologies__container-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .technologies__programming-logo {
    height: 6rem;
    width: 6rem;
    margin: 0 1rem;
    opacity: 0.85;
    transition: all 0.25s; }
    .technologies__programming-logo:hover {
      opacity: 1;
      transform: scale(1.1); }

.bg-video {
  height: 30rem;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.cv {
  padding: 2rem; }

.title {
  font-size: 2.2rem; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 300; }
