*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 10px; }
  @media only screen and (max-width: 59.375em) {
    html {
      font-size: 9px; } }
  @media only screen and (max-width: 50.625em) {
    html {
      font-size: 8.5px; } }

body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf9f9;
  background-image: linear-gradient(to right bottom, #3E5151, #DECBA4);
  background-size: cover;
  background-repeat: no-repeat; }

@media only screen and (min-width: 50.625em) {
  ::-webkit-scrollbar {
    width: .5rem; }
  ::-webkit-scrollbar-track {
    height: .5rem;
    background-color: #f0eeee; }
  ::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #068983;
    background-image: linear-gradient(#068983, #3E5151); } }

.container {
  width: 120rem;
  height: 98vh;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 75em) {
    .container {
      height: 100vh;
      overflow: auto; } }
  @media only screen and (max-width: 40.625em) {
    .container {
      display: block; } }

.sidebar {
  background-color: #333;
  background-image: linear-gradient(rgba(51, 51, 51, 0.95), #333333), url("../assets/img/sidebar-bg.jpg");
  background-size: cover;
  background-position: right;
  padding: 3rem 2rem;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 40.625em) {
    .sidebar {
      min-height: 100vh;
      justify-content: space-around; } }

.main {
  overflow: auto;
  flex-basis: 100%;
  background-color: #faf9f9;
  color: #333; }

.section {
  padding: 2.5rem; }
  @media only screen and (max-width: 40.625em) {
    .section {
      padding: 1.5rem; } }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .info__avatar_1 {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-image: url("../assets/img/avatar.jpeg");
    background-size: cover;
    margin-bottom: 2rem;
    position: relative; }

    .info__avatar_2 {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-image: url("../assets/img/Alejandro_foto.jpg");
    background-size: cover;
    margin-bottom: 2rem;
    position: relative; }

    .info__avatar_3 {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-image: url("../assets/img/Areli_foto.jpg");
    background-size: cover;
    margin-bottom: 2rem;
    position: relative; }

    @media only screen and (max-height: 770px) {
      .info__avatar {
        height: 15rem;
        width: 15rem; } }
  .info__title {
    font-size: 2.5rem; }
  .info__subtitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #ccc; }
  .info__contact {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: center; }
  .info__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic; }
    .info__footer ::selection {
      background-color: #068983; }
    .info__footer > * {
      display: flex;
      align-items: center; }
  .info__link {
    text-decoration: none;
    color: inherit; }

.float-email {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  cursor: pointer; }
  .float-email__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: #faf9f9; }
  .float-email:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: #f0eeee; }
  .float-email:hover .float-email__icon {
    fill: #068983; }

.contact-icon {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.3s;
  border-radius: 50%;
  fill: #faf9f9;
  backface-visibility: hidden;
  cursor: pointer; }
  .contact-icon:hover {
    opacity: 1;
    transform: scale(1.15) translateY(-3px);
    fill: #068983; }
  .contact-icon--footer {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
    fill: #faf9f9; }

.quote {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300; }
  @media only screen and (max-height: 770px) {
    .quote {
      display: none; } }

.technologies {
  margin: 2rem 0; }
  .technologies__title {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem; }
  .technologies__container-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .technologies__programming-logo {
    height: 6rem;
    width: 6rem;
    margin: 0 1rem;
    opacity: 0.8;
    transition: all 0.25s; }
    .technologies__programming-logo:hover {
      opacity: 1;
      transform: scale(1.1); }

.bg-video {
  height: auto;
  width: auto;
  opacity: 0.7;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-video__content {
    height: auto;
    width: auto;
    object-fit: cover; }
  .bg-video__title {
    position: absolute;
    color: #faf9f9;
    font-style: italic;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center; }
    @media only screen and (max-width: 26.25em) {
      .bg-video__title {
        font-size: 3rem; } }

.cv {
  font-size: 1.6rem;
  font-weight: 300; }
  .cv__title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 300;
    padding: 1.5rem;
    background-color: #068983;
    color: #faf9f9;
    background-image: linear-gradient(to right, #3E5151, #068983); }
  .cv__subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem; }
  .cv__paragraph--experience {
    margin: 1rem 0; }
  .cv__link {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 300;
    transition: all .25s; }
    .cv__link:hover {
      color: #068983;
      margin-left: 1rem; }
  .cv ul li {
    font-weight: 400;
    margin: 1rem 0;
    list-style: none; }
  .cv ul li::before {
    content: '\2022';
    color: #068983;
    font-weight: bold;
    display: inline-block;
    width: 1rem; }

.date-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 1rem 0 3rem 0;
  font-style: italic; }
  .date-info :nth-child(2) {
    margin: 0 .7rem;
    text-align: center; }
  .date-info :nth-child(3) {
    text-align: right; }
  .date-info:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 50.625em) {
    .date-info {
      font-style: normal; } }

.copyright {
  text-align: center;
  color: #777;
  font-size: 1.4rem;
  padding: 1rem 0; }

.carousel {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.carousel__images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* Depende del número de imágenes */
}

.carousel__image {
  width: 100%;
  flex-shrink: 0;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}
/*Clase agregada
.pdf_presentation {
  margin-top: 1rem;
  margin-bottom: 2.6rem;
}*/


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Elimina el desplazamiento horizontal */
}

.container {
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho del viewport */
  overflow-x: hidden;
}

.main, .sidebar {
  overflow-x: hidden; /* Restringe contenido desbordado */
}


.pdf-container {
  position: relative;
  width: 100%;
  height: 80vh; /* Ajustar altura dinámica para móviles */
  overflow: hidden; /* Evitar scroll lateral */
}

object {
  width: 100%;
  height: 100%;
  border: none; /* Eliminar bordes innecesarios */
}

@media (max-width: 768px) {
  .pdf-container {
    height: 70vh; /* Reducir altura en pantallas más pequeñas */
  }
}

.pdf-download-link {
  text-align: center;
  margin-top: 2rem;
}

.download-link {
  font-size: 1.8rem;
  color: #068983;
  text-decoration: none;
  background-color: #f0eeee;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #068983;
  color: #faf9f9;
}

