*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 1rem -> 10px
  font-size: 10px;

  @media only screen and (max-width: $bp-large) {
    font-size: 9px;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 8.5px;
  }
}

body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-grey-light-1;
  background-image: linear-gradient(to right bottom, #3E5151, #DECBA4);
  background-size: cover;
  background-repeat: no-repeat;
}



@media only screen and (min-width: $bp-medium) {
  ::-webkit-scrollbar {
    width: .5rem;
  }
  
  ::-webkit-scrollbar-track {
    height: .5rem;
    background-color: $color-grey-light-3;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: $color-primary;
    background-image: linear-gradient($color-primary, $color-primary-dark);
  }
}