// SIDEBAR
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__avatar {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-image: url('../assets/img/avatar.jpeg');
    background-size: cover;
    margin-bottom: 2rem;
    position: relative;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: $color-grey-light-4;
  }

  &__contact {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;

    ::selection {
      background-color: $color-primary;
    }

    & > * {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.float-email {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-dark-2;
  cursor: pointer;

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-grey-light-1;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: $color-grey-light-3;
  }

  &:hover &__icon {
    fill: $color-primary;
  }
}

.contact-icon {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.3s;
  border-radius: 50%;
  fill: $color-grey-light-1;
  backface-visibility: hidden;

  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: scale(1.15) translateY(-3px);
    fill: $color-primary;
    // padding: .3rem;
    // background-color: $color-primary;
  }

  &--footer {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
    fill: $color-grey-light-1;
  }
}


.quote {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;

  @media only screen and (max-height: $bp-height-sidebar) {
    display: none;
  }
}

.technologies {
  margin: 2rem 0;
  // width: 100%;

  &__title {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__container-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__programming-logo {
    height: 6rem;
    width: 6rem;
    margin: 0 1rem;
    opacity: 0.8;
    transition: all 0.25s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.footer {
}

// MAIN
.bg-video {
  height: 23.5rem;
  width: 100%;
  opacity: 0.7;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    color: $color-grey-light-1;
    font-style: italic;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    @media only screen and (max-width: $bp-xs) {
      font-size: 3rem;
    }
    
  }
}

.cv {
  padding: 3rem;
  font-size: 1.6rem;
  font-weight: 300;

  @media only screen and (max-width: $bp-xs) {
    padding: 1.5rem;
  }

  &__title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.2rem;
    // font-weight: 100;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    // font-style: italic;
    // color: $color-primary-dark;
    // display: inline-block;
    // margin-bottom: 0.5rem;
  }

  &__paragraph {
    margin-bottom: 4rem;
  }

  &__paragraph--experience {
    margin: 1rem 0;
  }

  &__link {
    display: inline-block;
    color: $color-grey-dark-1;
    text-decoration: none;
    font-weight: 300;
    transition: all .25s;

    &:hover {
      color: $color-primary;
      margin-left: 1rem;
    }
  }

  ul {
    margin-bottom: 3rem;
  }

  ul li {
    font-weight: 400;
    margin: 1rem 0;
    list-style: none;
  }

  ul li::before {
    content: '\2022';
    color: $color-primary; 
    font-weight: bold;
    display: inline-block;
    width: 1rem;
  }

}

.date-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 1rem 0 3rem 0;
  font-style: italic;

  :nth-child(2) {
    margin: 0 .7rem;
    text-align: center;
  }

  :nth-child(3) {
    text-align: right;
  }

  
  @media only screen and (max-width: $bp-medium) {
    font-style: normal;
  }
}

.copyright {
  text-align: center;
  color: $color-grey-dark-2;
  font-size: 1.4rem;
  padding-top: 2rem;
}